@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bottom_section {
    height: 91vh;
    background-color: #ffffff;
    padding: 30px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.form_card_heading {
    font-size: 25px;
    font-family: Roboto;
    color: #323f4b;
}

.error_msg {
    color: red;
    font-size: 18px;
}

.bg-container {
    background-color: #2d3a8c;
    background-size: cover;

    padding-top: 10px;
    height: 100vh;
}

.hello_heading {
    font-size: 15px;
    font-family: Roboto;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 1px;
    margin-left: 5px;
}

.main_heading {
    font-size: 26px;
    font-family: Roboto;
    color: #ffffff;
    margin-left: 5px;


}

.form_card {
    padding: 30px;
    background-color: #f5f7fa;
    border-radius: 15px;
}

.bookmark_card {
    margin-top: 20px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f7fa;
    border-radius: 15px;
}

.book_mark_heading {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 600;
}

.ul_list {
    list-style: none;
}

.last-container {
    padding-top: 5px;
    text-align: center;
    background-color: black;
    color: white;
    font-family: Roboto;
    height: 30px;
}

@media (max-width:600px) {
    .last-container {
        height: 50px;
    }

    .error_msg {
        font-size: 13px;
    }
}